@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-minimal {
    scrollbar-width: thin;
    scrollbar-color: #72554a transparent;
  }

  .scrollbar-minimal::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-minimal::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-minimal::-webkit-scrollbar-thumb {
    background-color: #72554a;
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .scrollbar-minimal::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }
}

@utility link-hover {
  transition-property: opacity;
  transition-duration: 100ms;
  opacity: 0.5;
}