@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@utility link-hover {
  transition-property: opacity;
  transition-duration: 100ms;
  opacity: 0.5;
}